@model AgenciadeTours.Models.Pais

@{
    ViewData["Title"] = "Eliminar País";
}

<h2>Eliminar este País</h2>

<h4>¿Estás seguro que deseas eliminar este país?</h4>

<div>
    <h4>País</h4>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">ID</dt>
        <dd class="col-sm-10">@Model.PaisID</dd>

        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Model.Nombre</dd>
    </dl>
</div>

<form asp-action="Eliminar" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="PaisID" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="Lista" class="btn btn-secondary">Cancelar</a>
</form>